@model IEnumerable<SSL_SMS.Models.GroupDto>

@{
    ViewBag.Title = "Group List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Groups</h2>
<hr />

<div class="row">
    <div class="col-sm">
        <p>
            <a class="btn btn-success btn-sm" href="@Url.Action("Create", "Groups")">Create New</a>
        </p>

        <table id="groups" class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Contacts)
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Contacts.Count)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "" }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "" }) |
                            <a href="#" class="js-delete" data-group-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            //Toaster 
            if ('@TempData["message"]' == "Added") {
                toastr.success('New Group Added');
            }
            else if ('@TempData["message"]' == "Updated") {
                toastr.success('Group Updated');
            } else {

            }

            //bootbox confirm
            $("#groups").on("click", ".js-delete",
                function () {
                    var button = $(this);
                    bootbox.confirm({
                        message: "Are you sure want to delete this group?",
                        buttons: {
                            confirm: {
                                label: 'Delete',
                                className: 'btn-success btn-sm'
                            },
                            cancel: {
                                label: 'Cancel',
                                className: 'btn-danger btn-sm'
                            }
                        },
                        callback: function (result) {
                            if (result) {
                                $.ajax({
                                    url: "/Groups/Delete/" + button.attr("data-group-id"),
                                    method: "POST",
                                    success: function (data) {
                                        if (data) {
                                            toastr.success('Group Deleted');
                                            setTimeout(function () {
                                                location.reload();
                                            }, 1000);
                                        }
                                    }
                                });
                            }
                        }
                    });
                });
        });
    </script>
}
