@model SSL_SMS.ViewModels.SmsSendVm

@{
    ViewBag.Title = "Send SMS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Send Groupwise SMS</h2>
<hr />

@Html.ValidationSummary(true, "Please Fixed The following Error", new { @class = "text-danger" })

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group row">
        @Html.LabelFor(model => model.ContactGroups, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @Html.DropDownListFor(c => c.SmsLogs.SmsType, new SelectList(Model.ContactGroups, "Id", "Name"), "[Select One]", new { @id = "ddlContactGroup", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ContactGroups, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.Contacts, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @Html.TextAreaFor(model => model.Contacts, new { placeholder = "Enter Contacts", @id = "ContactBox", @class = "form-control", @rows = 2 })
            @Html.ValidationMessageFor(model => model.Contacts, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.Messages, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @Html.TextAreaFor(model => model.Messages, new { placeholder = "Enter Message", @id = "MessageBox", @class = "form-control", @rows = 2 })
            @Html.ValidationMessageFor(model => model.Messages, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input type="submit" value="Send SMS" class="btn btn-primary btn-sm btn-block" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
    <script>
        $(document).ready(function () {
            // Load Contact List
            $('select#ddlContactGroup').change(function () {
                var contactGroupId = $(this).val();
                $.ajax({
                    url: 'GroupSms/LoadContactList',
                    //url: 'LoadContactList',
                    type: 'POST',
                    data: JSON.stringify({ contactGroupId: contactGroupId }),
                    dataType: 'json',
                    contentType: 'application/json',

                    success: function (data) {
                        $('#ContactBox').val(data);
                    }
                });
            });

            //Toaster 
            if ('@TempData["message"]' == "success") {
                toastr.success('SMS Send Successfully');
            } else if ('@TempData["message"]' == "failed") {
                toastr.error('Something unexpected happened.');
            } else {

            }


        });

    </script>

}