@model SSL_SMS.DAL.ContactGroup


@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Delete MessageGroup @Html.DisplayFor(model => model.GroupName)</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.GroupName)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.GroupName)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.ContactList)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.ContactList)</dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
        @*@Html.ActionLink("Back to List", "Index", "Contact", new { @class = "btn btn-info btn-sm" })*@
        <a class="btn btn-info btn-sm" href="@Url.Action("Index", "Contact")">Back to List</a>
    </div>
    }
</div>

