@model IEnumerable<SSL_SMS.Models.ContactGroupDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact Group</h2>
<hr />

<div class="row">

    <div class="col-sm">

        <a class="btn btn-success btn-sm" href="@Url.Action("Create", "Contact")">Create New</a>

        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.GroupName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactList)
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.GroupName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactList)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>






