@model SSL_SMS.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="login_wrapper">
    <div id="register" class="animate form registration_form">
        <section class="login_content">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <h1>Create Account</h1>
                @Html.ValidationSummary("", new { @class = "text-danger" })

                <div>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "Email", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <div>
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Password", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>

                <div>
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { placeholder = "Confirm Password", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>

                <div>
                    <input style="margin-left: 0px" type="submit" value="Submit" class="btn btn-primary submit" />
                </div>
                <div class="clearfix"></div>
                <div class="separator">
                    <p class="change_link">
                        Already a member ?
                        <a href="@Url.Action("Login", "Account")" class="to_register"> Log in </a>
                    </p>
                    <div class="clearfix"></div>
                    <br />
                    <div>
                        <h1><i class="fa fa-envelope"></i> SSL SMS</h1>
                        <p>©@DateTime.Now.Year All Rights Reserved. Subra System Ltd. Privacy and Terms</p>
                    </div>
                </div>
            }

        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}