@model IEnumerable<SSL_SMS.Models.ContactGroupDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact Group</h2>
<hr />

<div class="row">

    <div class="col-sm">

        <a class="btn btn-success btn-sm" href="@Url.Action("Create", "ContactGrp")">Create New</a>

        <table id="contacts" class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.GroupName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactList)
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.GroupName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactList)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-default btn-sm" }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-default btn-sm" }) |
                            @*@Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
                            <button class='btn btn-default btn-sm js-delete' data-group-id="@item.ID">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            //Toaster
            if ('@TempData["message"]' == "Added") {
              toastr.success('New Contact Group Added');
           }
           else if ('@TempData["message"]' == "Updated") {
               toastr.success('Contact Group Updated');
           }
            else { }

            //bootbox confirm
            $("#contacts").on("click", ".js-delete",
                function () {
                    var button = $(this);
                    bootbox.confirm({
                        message: "Are you sure want to delete this group?",
                        buttons: {
                            confirm: {
                                label: 'Delete',
                                className: 'btn-success btn-sm'
                            },
                            cancel: {
                                label: 'Cancel',
                                className: 'btn-danger btn-sm'
                            }
                        },
                        callback: function (result) {
                            if (result) {
                                $.ajax({
                                    url: "/ContactGrp/Delete/" + button.attr("data-group-id"),
                                    method: "POST",
                                    success: function (data) {
                                        if (data) {
                                            toastr.success('Contact Group Deleted');
                                            setTimeout(function () {
                                                location.reload();
                                            }, 1000);
                                        }
                                        //table.row(button.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        }
                    });

                });
        });

    </script>
}




